<xml>
    <ToUserName><![CDATA[gh_84c47ccaa486]]></ToUserName>
    <FromUserName><![CDATA[oEcjCvmjTW0bgA1RX15QMlayfSCA]]></FromUserName>
    <CreateTime>1449121615</CreateTime>
    <MsgType><![CDATA[event]]></MsgType>
    <Event><![CDATA[CLICK]]></Event>
    <EventKey><![CDATA[mark]]></EventKey>
</xml>
